:root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: spaceMonoBold;
    src: url('./fonts/SpaceMono-Bold.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-cyan);
    font-family: spaceMonoBold, san-serif;
}

span {
    display: block;
}

input {
    font-family: spaceMonoBold, sans-serif;
    width: 100%;
    border: none;
    background-color: var(--very-light-grayish-cyan);
}

label {
    color: var(--dark-grayish-cyan);
}

.logo {
    margin: 3rem 0 2rem;
}


.calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    background-color: var(--white);
}

.calculator-form > * {
    min-width: 80%
}

.input-section {
    display: flex;
    flex-direction: column;
}
