:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: spaceMonoBold;
    src: url('./fonts/SpaceMono-Bold.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-cyan);
    font-family: spaceMonoBold, san-serif;
}

span {
    display: block;
}

input {
    font-family: spaceMonoBold, sans-serif;
    width: 100%;
    border: none;
    background-color: var(--very-light-grayish-cyan);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    color: var(--very-dark-cyan);
    padding: .35rem 1rem;
    border-radius: .25rem;
}

label {
    color: var(--dark-grayish-cyan);
}

.logo {
    margin: 3rem 0 1.75rem;
}


.calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    background-color: var(--white);
    border-radius: 1.5rem;
    padding: 2rem 0;
}

.calculator-form > * {
    width: 82.5%;   
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bill-section, .people-section {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}


.input-container {
    display: flex;
    position: relative;
}

.icon {
    position: absolute;
    top: 13.5px;
    left: 18px;
}

.dollar-icon {
    width: .7rem;
}
